@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Poppins';
}
body{
    background-color: rgba(0, 0, 0, 0.37);
    text-align: center;
    background-image: url("../imagens/fundoeovale.png");
    background-repeat: no-repeat;
    background-size:1365px 659px;
   
}
h1{
    color:whitesmoke ;
}
#container{
    margin:auto;
    display: block;
    border: 2px solid;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.281);
    padding: 30px;
    height: 480px;
    width: 380px;
    background-image: url("imagens/fundo.png");

}
input{
    margin: auto;
    display: block;
    width: 280px;
    height: 25px;
    background-color: rgba(240, 248, 255, 0.212);
    justify-content: center;
    text-align: center ;
    color: aliceblue;
    border-radius: 7 px;
    border-color: rgba(75, 73, 73, 0.199);
    
}
.oslab{ 
    background-color: rgba(0, 0, 0, 0.158);
    height: 400px;
    padding: 40px;
    width: 279px;
    margin: auto;
    color: white;
    border: 1px solid;
    border-radius: 3px;
    border-color: rgba(0, 0, 0, 0.185);
    box-shadow: -5px -10px 30px rgba(20, 1, 1, 0.486), 6px 9px 15px rgb(0, 5, 0);
}
#container, .oslab{
    color:rgba(255, 255, 255, 0.911);
}

input:hover{
    background-color: rgba(150, 146, 146, 0.349);
    padding: 2px;
}
::-webkit-scrollba{
    background-color: black;
}